.f-fac {
  width: 100%;
  min-height: 100vh;

  .f-sliders {
    background: url("https://i.ibb.co/10HkJtd/pic9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
  }
}
