  .sh-title {
    margin-left: 5rem;
    min-width: 14rem;
    min-height: 3.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border-bottom: 1px solid orange;
    padding-bottom: 1rem;
    margin-top: 11rem;
    margin-bottom: 3rem;


  }
  .sh-soto {
    font-size: 3.6rem;
    font-weight: 500;
    color: #7294a8;
    font-family: "Great Vibes", cursive;
  }