.about-wrapper {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 2rem;
  
  .a-main {
    background: url("https://i.ibb.co/NKgCD87/pic5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
}
